#faq{  
  background-color: $white-color;
  padding-top: 40px;
  padding-bottom: 60px;
}

.faq__title{
  margin-bottom: 8px;
  font-size: 2em;
}

.f-contact{
  padding-top: 100px;
}

.f-color{
  background-color: #fff;
}